{% extends 'base_main.html' %}

{% block page_title %}Delete Timetable Entry{% endblock %}
{% block breadcrumb %}Delete Timetable Entry{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <p>Are you sure you want to delete the timetable entry for {{ entry.day }}: {{ entry.subject }}?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{% url 'timetable:timetable_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
